.player {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(asset/image/player-shirt.png);
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 0.5rem;
}